extensions/jms/src/test/resources/operations/jms-queue-temporary-request-reply.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:jmsn="http://www.mulesoft.org/schema/mule/jmsn"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
      http://www.mulesoft.org/schema/mule/jmsn http://www.mulesoft.org/schema/mule/jmsn/current/mule-jmsn.xsd">

    <flow name="publisher">
        <jmsn:publish config-ref="producer" destination="#[flowVars.replyToDestination]">
            <jmsn:message-builder>
                <jmsn:content>#[payload]</jmsn:content>
            </jmsn:message-builder>
        </jmsn:publish>
    </flow>

    <flow name="request-reply">
        <jmsn:request-reply config-ref="producer" destination="#[flowVars.requestDestination]" maximumWaitTime="1000">
            <jmsn:message-builder>
                <jmsn:content>#[payload]</jmsn:content>
            </jmsn:message-builder>
        </jmsn:request-reply>
    </flow>

    <flow name="request-listener">
        <jmsn:consume config-ref="consumer" destination="#[flowVars.requestDestination]" maximumWaitTime="1000"/>
    </flow>

</mule>
